# XYZ Company has offices in four different zones. The company wishes to
investigate the following

In [6]:
import pandas as pd
import numpy as np
df=pd.read_csv('Downloads\Sales_data_zone_wise.csv')
print(df)

         Month  Zone - A  Zone - B  Zone - C  Zone - D
0    Month - 1   1483525   1748451   1523308   2267260
1    Month - 2   1238428   1707421   2212113   1994341
2    Month - 3   1860771   2091194   1282374   1241600
3    Month - 4   1871571   1759617   2290580   2252681
4    Month - 5   1244922   1606010   1818334   1326062
5    Month - 6   1534390   1573128   1751825   2292044
6    Month - 7   1820196   1992031   1786826   1688055
7    Month - 8   1625696   1665534   2161754   2363315
8    Month - 9   1652644   1873402   1755290   1422059
9   Month - 10   1852450   1913059   1754314   1608387
10  Month - 11   2004480   1740365   1317869   1970069
11  Month - 12   1537539   1875658   1237722   1460165
12  Month - 13   1254939   1588473   1348629   1733383
13  Month - 14   1821799   1844081   1617376   1872259
14  Month - 15   1128185   1804613   1767047   1234311
15  Month - 16   1491534   1542053   1882159   1590913
16  Month - 17   1182110   1552388   2234469   2180416
17  Month - 18   1770324   1699213   1249821   2364132
18  Month - 19   1181635   1959268   2009168   1821882
19  Month - 20   1305972   1559670   2107949   2151008
20  Month - 21   1570152   2013615   1540016   2265814
21  Month - 22   1481619   1527574   2255729   2295079
22  Month - 23   1887694   1992155   1348387   1459683
23  Month - 24   1880820   1752873   2098463   2052591
24  Month - 25   1256333   1622671   1521792   1695122
25  Month - 26   1422853   1715465   1853636   1520406
26  Month - 27   1384426   1983163   1611169   1289160
27  Month - 28   1616640   1547991   2128022   2178267
28  Month - 29   1310654   1660092   1947119   1854412

# The mean sales generated by each zone.

In [8]:
mean1 = df['Zone - A'].mean()
print(mean1)

1540493.1379310344

In [10]:
mean2 = df['Zone - B'].mean()
print(mean2)

1755559.5862068965

In [11]:
mean3 = df['Zone - C'].mean()
print(mean3)

1772871.0344827587

In [12]:
mean4 = df['Zone - D'].mean()
print(mean4)

1842926.7586206896

In [17]:
df.describe()

           Zone - A      Zone - B      Zone - C      Zone - D           sum
count  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01  2.900000e+01
mean   1.540493e+06  1.755560e+06  1.772871e+06  1.842927e+06  1.382370e+07
std    2.619401e+05  1.683899e+05  3.331937e+05  3.750165e+05  1.181784e+06
min    1.128185e+06  1.527574e+06  1.237722e+06  1.234311e+06  1.185085e+07
25%    1.305972e+06  1.606010e+06  1.523308e+06  1.520406e+06  1.301332e+07
50%    1.534390e+06  1.740365e+06  1.767047e+06  1.854412e+06  1.406557e+07
75%    1.820196e+06  1.875658e+06  2.098463e+06  2.180416e+06  1.431103e+07
max    2.004480e+06  2.091194e+06  2.290580e+06  2.364132e+06  1.634890e+07

# Total sales generated by all the zones for each month.

In [15]:
df["sum"] = df.sum(axis=1)
print(df)

         Month  Zone - A  Zone - B  Zone - C  Zone - D       sum
0    Month - 1   1483525   1748451   1523308   2267260  14045088
1    Month - 2   1238428   1707421   2212113   1994341  14304606
2    Month - 3   1860771   2091194   1282374   1241600  12951878
3    Month - 4   1871571   1759617   2290580   2252681  16348898
4    Month - 5   1244922   1606010   1818334   1326062  11990656
5    Month - 6   1534390   1573128   1751825   2292044  14302774
6    Month - 7   1820196   1992031   1786826   1688055  14574216
7    Month - 8   1625696   1665534   2161754   2363315  15632598
8    Month - 9   1652644   1873402   1755290   1422059  13406790
9   Month - 10   1852450   1913059   1754314   1608387  14256420
10  Month - 11   2004480   1740365   1317869   1970069  14065566
11  Month - 12   1537539   1875658   1237722   1460165  12222168
12  Month - 13   1254939   1588473   1348629   1733383  11850848
13  Month - 14   1821799   1844081   1617376   1872259  14311030
14  Month - 15   1128185   1804613   1767047   1234311  11868312
15  Month - 16   1491534   1542053   1882159   1590913  13013318
16  Month - 17   1182110   1552388   2234469   2180416  14298766
17  Month - 18   1770324   1699213   1249821   2364132  14166980
18  Month - 19   1181635   1959268   2009168   1821882  13943906
19  Month - 20   1305972   1559670   2107949   2151008  14249198
20  Month - 21   1570152   2013615   1540016   2265814  14779194
21  Month - 22   1481619   1527574   2255729   2295079  15120002
22  Month - 23   1887694   1992155   1348387   1459683  13375838
23  Month - 24   1880820   1752873   2098463   2052591  15569494
24  Month - 25   1256333   1622671   1521792   1695122  12191836
25  Month - 26   1422853   1715465   1853636   1520406  13024720
26  Month - 27   1384426   1983163   1611169   1289160  12535836
27  Month - 28   1616640   1547991   2128022   2178267  14941840
28  Month - 29   1310654   1660092   1947119   1854412  13544554

# Check whether all the zones generate the same amount of sales

In [16]:
from scipy.stats import f_oneway
import scipy.stats as stats
fvalue, pvalue = stats.f_oneway(df['Zone - A'], df['Zone - B'], df['Zone - C'], df['Zone - D'])
print(fvalue, pvalue)

5.672056106843581 0.0011827601694503335

In [ ]:
The p value obtained from ANOVA analysis is significant (p < 0.05), and therefore, we conclude that there are all zones generate same amount of sales.i.ealternate  Hypothesis fails,which means same amount of sales generated

Note on F value: F value is inversely related to p value and higher F value (greater than F critical value) indicates a significant p value.

Note:

From ANOVA analysis, we know that treatment differences are statistically significant, but ANOVA does not tell which treatments are significantly different from each other.

When the ANOVA is significant, post hoc tests are used to see differences between specific groups